<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<brand>
    <name>Dawson Outfitters</name>
    <menu name="Tops">
        <product>
            <listing>Cotton T-Shirt</listing>
            <price>12.00</price>
            <size>S</size>
            <size>M</size>
            <size>L</size>
            <size>XL</size>
            <colors>Black</colors>
            <colors>White</colors>
            <colors>Grey</colors>
            <colors>Navy</colors>
        </product>
        <product>
            <listing>Hoodie</listing>
            <price>30.00</price>
            <size>S</size>
            <size>M</size>
            <size>L</size>
            <size>XL</size>
            <colors>Black</colors>
            <colors>White</colors>
            <colors>Grey</colors>
            <colors>Navy</colors> 
        </product>
        <product>
            <listing>SweatShirt</listing>
            <price>25.00</price>
            <size>S</size>
            <size>M</size>
            <size>L</size>
            <size>XL</size>
            <colors>Black</colors>
            <colors>White</colors>
            <colors>Grey</colors>
            <colors>Navy</colors> 
        </product>
        <product>
            <listing>Shirt</listing>
            <price>20.00</price>
            <size>S</size>
            <size>M</size>
            <size>L</size>
            <size>XL</size>
            <colors>White</colors>
            <colors>Grey</colors> 
            <colors>Light Blue</colors>  
        </product>
    </menu>
    <menu name="Bottoms">
        <product>
            <listing>Jeans</listing>
            <price>35.00</price>
            <sizes>28</sizes>
            <sizes>30</sizes>
            <sizes>32</sizes>
            <sizes>34</sizes>
            <sizes>36</sizes>
            <colors>Black</colors>
            <colors>Blue</colors>
        </product>
        <product>
            <listing>SweatPants</listing>
            <price>30.00</price>
            <sizes>28</sizes>
            <sizes>30</sizes>
            <sizes>32</sizes>
            <sizes>34</sizes>
            <sizes>36</sizes>
            <colors>Grey</colors>
            <colors>Black</colors> 
            <colors>Navy</colors>  
        </product>
        <product>
            <listing>Shorts</listing>
            <price>25.00</price>
            <sizes>28</sizes>
            <sizes>30</sizes>
            <sizes>32</sizes>
            <sizes>34</sizes>
            <sizes>36</sizes>
            <colors>Black</colors>
            <colors>Beige</colors>
            <colors>Grey</colors>
            <colors>Navy</colors>
        </product>
    </menu>    
    <menu name="Accessories">
        <product>
            <listing>Ring</listing>
            <price>35.00</price>
            <sizes>15.5</sizes>
            <colors>Wood</colors>
            <colors>Black</colors>
            <colors>Gold</colors>
            <colors>Silver</colors>
        </product>
        <product>
            <listing>Leather Belt</listing>
            <price>29.00</price>
            <sizes>28</sizes>
            <sizes>30</sizes>
            <sizes>32</sizes>
            <sizes>34</sizes>
            <sizes>36</sizes>
            <colors>Black</colors>
            <colors>Brown</colors>  
            </product>
            <product>
                <listing>Ribbed Beanie</listing>
                <price>24.00</price>
                <colors>Black</colors>
                <colors>White</colors> 
                <colors>Beige</colors> 
                <colors>Grey</colors> 
                <colors>Navy</colors>  
            </product>
    </menu>
</brand>